#btn {
	transition: 250ms;
}
#ip-label {
	outline: solid 2px transparent; /* Outline inicialmente invisible */
	outline-offset: 10px; /* El desplazamiento inicial */
	transition: outline-color 300ms, outline-offset 300ms;
}

#ip-label:focus-within {
	outline-color: #605ea1; /* Color visible del outline */
	outline-offset: 0px; /* Desplazamiento al borde del elemento */
}

@media only screen and (min-width: 385px) {
	#map {
		height: 400px;
		width: 320px;
		margin-top: 2rem;
		margin-inline: auto;
	}
}
li {
	display: flex;
}
p {
	margin-left: 8px;
}
@media only screen and (min-width: 546px) {
	#map {
		height: 320px;
		width: 500px;
	}
}
@media only screen and (min-width: 799px) {
	ul {
		display: flex;
	}
	li {
		display: block;
		margin: 0;
	}
	p {
		margin: 0;
		font-size: 14px;
	}
	#map {
		height: 320px;
		width: 700px;
	}
}
